@import "./variable"

.btn-a
    background-color transparent
    border 0
    color $color-theme
    text-decoration underline

.btn-b
    display block
    margin 2%
    width 96%
    padding 3px 0
    border-radius 5px

.btn-d
    display inline-block
    border 1.5px solid $color-theme
    background-color transparent
    color $color-theme
    height 60px
    line-height 60px
    border-radius 8px
    box-sizing border-box
    min-width 155px
    text-align center

.btn-e
    display block
    background-color $color-theme
    color $color-group-cell
    border none
    width 100%
    padding 20px
    border-radius 8px
    font-size 30px

.value-tag
    background-color $color-gray-d
    text-align center
    border-radius 6px
    padding 8px
    margin-right 10px
    margin-bottom 10px
    &.active
        background-color $color-theme

input
    border-radius 5px
    color $color-white
input[type="text"]
    padding 15px
    font-size 30px

.selectable
    user-select text

.flex-box
    display flex
    .flex-1
        flex 1
    .flex-2
        flex 2
    .flex-3
        flex 3
    .flex-4
        flex 4
    .flex-5
        flex 5
    .flex-6
        flex 6
    .flex-7
        flex 7
    .flex-8
        flex 8
    .flex-9
        flex 9
    .flex-10
        flex 10
    .flex-11
        flex 11
    &.center
        align-items center
        justify-content center
    &.h-center
        align-items center
    &.v-center
        justify-content center
    &.flex-end
        justify-content flex-end
    &.space-between
        justify-content space-between
    &.space-around
        justify-content space-around
    &.column
        flex-direction column
    &.row-reverse
        flex-direction row-reverse

.position-relative
    position relative

.txta-center
    text-align center
.txta-right
    text-align right   

.color-theme
    color $color-theme
.color-magic
    color $color-magic
.color-white
    color $color-white
.color-luxury
    color $color-luxury  
.color-dimension
    color $color-dimension
.color-warn
    color $color-warn

.fs-20
    font-size 20px
.fs-22
    font-size 22px
.fs-24
    font-size 24px
.fs-26
    font-size 26px
.fs-28
    font-size 28px
.fs-30
    font-size 30px
.fs-32
    font-size 32px
.fs-34
    font-size 34px
.fs-36
    font-size 36px
.fs-38
    font-size 38px
.fs-40
    font-size 40px
.fs-42
    font-size 42px
.fs-44
    font-size 44px
.fs-46
    font-size 46px
.fs-48
    font-size 48px
.fs-50
    font-size 50px
.fs-52
    font-size 52px
.fs-54
    font-size 54px
.fs-56
    font-size 56px
.fs-58
    font-size 58px
.fs-60
    font-size 60px
.fs-62
    font-size 62px
.fs-64
    font-size 64px
.fs-66
    font-size 66px  

.mr-10
    margin-right 10px
.mr-20
    margin-right 20px
.mr-30
    margin-right 30px
.mr-40
    margin-right 40px
.mr-50
    margin-right 50px
.mr-60
    margin-right 60px
.mr-70
    margin-right 70px
.mr-80
    margin-right 80px

.ml-10
    margin-left 10px
.ml-20
    margin-left 20px
.ml-30
    margin-left 30px
.ml-40
    margin-left 40px
.ml-50
    margin-left 50px
.ml-60
    margin-left 60px
.ml-70
    margin-left 70px
.ml-80
    margin-left 80px

.mt-10
    margin-top 10px
.mt-20
    margin-top 20px
.mt-30
    margin-top 30px
.mt-40
    margin-top 40px
.mt-50
    margin-top 50px
.mt-60
    margin-top 60px
.mt-70
    margin-top 70px
.mt-80
    margin-top 80px

.mb-10
    margin-bottom 10px
.mb-20
    margin-bottom 20px
.mb-30
    margin-bottom 30px
.mb-40
    margin-bottom 40px
.mb-50
    margin-bottom 50px
.mb-60
    margin-bottom 60px
.mb-70
    margin-bottom 70px
.mb-80
    margin-bottom 80px