@keyframes outt 
    0%  
        transform rotate(0) 
    100%  
        transform rotate(-360deg) 


@keyframes inn 
    0%  
        transform rotate(0); 
    100%  
        transform rotate(360deg) 


@keyframes searching 
    0%  
        line-height100px
        margin-left25px
    
    25%  
        line-height120px
        margin-left50px
    
    50%  
        line-height100px
        margin-left0px
    
    75%  
        line-height120px
        margin-left-50px
    
    100%  
        line-height100px
        margin-left0px
    


@keyframes logoRuning
    0%
        transform rotate(0)
    100%
        transform rotate(360deg)

@keyframes anlogoRuning
    0%
        transform rotate(360deg)
    100%
        transform rotate(0)

@keyframes diyLoading
    0%
        transform rotate(45deg)
    14.29%
        transform rotate(90deg)
    28.57%
        transform rotate(135deg)
    42.86%
        transform rotate(180deg)
    57.14%
        transform rotate(225deg)
    71.43%
        transform rotate(270deg)
    85.71%
        transform rotate(315deg)
    100%
        transform rotate(360deg)

@keyframes diyMaking
    0%
        transform scale(1) rotate(0deg)
        opacity 0
    50%
        transform scale(1.1) rotate(30deg)
        opacity 1
    100%
        transform scale(1) rotate(-10deg)
        opacity 0