$host = 'http://mall.hs1p.com/'

//颜色定义规范
    //1.背景颜色
    $background-color = #000000   
    $color-white = #ffffff
    $color-text-dd = #000000
    $color-text-d = #333333
    $color-text = #666666
    $color-text-l = #999999
    $color-text-ll = #cccccc
    
    $color-theme = #8fd25e
    //轻奢颜色
    $color-luxury = #8fd25e

    $color-gray-d = #4d4d4d

    $bgc-td = #112430
    $color-group-cell = #112430
    
    $color-cell-border = #09171f
    //红色值
    $color-warn = #df4d75
    $color-success = #8fd25e

//字体定义规范
    $fs-30 = 30

//高度定义规范
    $bodyTitleHeight = 54px
